<!DOCTYPE html>
<html lang="en">
<title>Interactive Website For Electrical & Electronic Symbols</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="#about" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About Us</a>
    <a href="component/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Symbols</a>
    <a href="project/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Project</a>
    <a href="datasheet/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">DataSheet</a>
    <a href="video/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Videos</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">About Us</a>
    <a href="component/" class="w3-bar-item w3-button w3-padding-large">Symbols</a>
    <a href="project/" class="w3-bar-item w3-button w3-padding-large">Project</a>
    <a href="datasheet/" class="w3-bar-item w3-button w3-padding-large">DataSheet</a>
    <a href="video/" class="w3-bar-item w3-button w3-padding-large">Videos</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Interactive Website For Electrical & Electronic Symbols</h1>
  <p class="w3-xlarge">Find Electronic & Electrical Symbols For Various Devices to Design </p>
  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top"><a href="#gets">Get Started</a> </button>
</header>
<!-- Team Section -->
<div class="w3-container gets" style="padding:128px 16px" id="team">
    <h3 class="w3-center">VIEW HERE</h3>
    <p class="w3-center w3-large">__________________</p>
    <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <img src="images/7.jpg" alt="John" style="width:100%">
          <div class="w3-container">
            <h3>Symboles</h3>
            <!-- <p class="w3-opacity">CEO & Founder</p> -->
            <p>Find the Symbols of Various Electrical and Electronic components, devices. This can be used while designing, consultation. </p>
            <p><button class="w3-button w3-light-grey w3-block"><a href="component/" >View Symbols</a></button></p>
          </div>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <img src="images/7.jpg" alt="Jane" style="width:100%">
          <div class="w3-container">
            <h3>Projects</h3>
            <!-- <p class="w3-opacity">Art Director</p> -->
            <p>Find Various project based on different electrical and Electronic components. Also you can add projects</p>
            <p><button class="w3-button w3-light-grey w3-block"><a href="project/" >View Projects</a></button></p>
          </div>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <img src="images/7.jpg" alt="Mike" style="width:100%">
          <div class="w3-container">
            <h3>Datasheet</h3>
            <!-- <p class="w3-opacity">Web Designer</p> -->
            <p>Find Datasheet of various components and device. It can be used while designing and consultation </p>
            <p><button class="w3-button w3-light-grey w3-block"><a href="datasheet/" > View Datasheet</a></button></p>
          </div>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <img src="images/7.jpg" alt="Dan" style="width:100%">
          <div class="w3-container">
            <h3>Videos</h3>
            <!-- <p class="w3-opacity">Designer</p> -->
            <p>Find videos of various electronic and electrical compoenents.It can be used  for project designing and consultation</p>
            <p><button class="w3-button w3-light-grey w3-block"><a href="video/" >View Video</a></button></p>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Electronic Components Symbols - Reading and Understanding Them</h1>
      <h5 class="w3-padding-32">Electronic component symbols are used to denote the components in circuit diagrams. There are standard symbols for each of the components which represent that particular component. Here in this article, we are explaining some basic and mostly used electronic components with their symbols.</h5>

      <p class="w3-text-grey">The resistor is a two-terminal component which is denoted by R. Symbol of the resistor is represented by Zig-Zag lines between two terminals. It is a common and widely used symbol in schematics. It can also be represented by another symbol that has an unfilled rectangle between two terminals instead of Zig-Zag lines. There are various types of resistors like a variable resistor, LDR, Thermistor, MOV, etc.
        The resistor is a non-polarized component that means both sides have the same polarity and can be connected from both sides. The value of the resistor is measured in ohms (Ώ).</p>
    </div>

    <div class="w3-third w3-center">
      <br><br>
      <img src="images/p1.png" height="400" width="420">
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <br><br><br><br>
      <img src="images/p2.jpg" height="300" width="300">
    </div>

    <div class="w3-twothird">
      <h1>What are the Electronic Circuit Symbols?</h1>
      <h5 class="w3-padding-32">
        Electronics is a branch of engineering, which deals with electronic and electrical circuits like Integrated circuits, Transmitters, and Receivers, etc. The electronic circuit is defined as it is a combination of various electronic components that allow the flow of electric current.Electronics is a branch of engineering, which deals with electronic and electrical circuits like Integrated circuits, Transmitters, and Receivers, etc. The electronic circuit is defined as it is a combination of various electronic components that allow the flow of electric current.
      </h5>
      <p class="w3-text-grey">Electronic symbols are very essential to know while designing circuits for a project or while making a PCB for a project. If we don’t know the symbols of the schematic circuit, it is extremely hard to create a project. Here this article discusses most of the circuit symbols of electronic components and their functions. The names of circuit symbols are active, passive, wires, switches, power supplies, diodes, transistors, resistors, sensors, logic gates, etc.Electronic symbols are very essential to know while designing circuits for a project or while making a PCB for a project. If we don’t know the symbols of the schematic circuit, it is extremely hard to create a project. Here this article discusses most of the circuit symbols of electronic components and their functions. The names of circuit symbols are active, passive, wires, switches, power supplies, diodes, transistors, resistors, sensors, logic gates, etc.</p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64 about">
    <h1 class="w3-margin w3-xlarge">Get in touch with us at</h1>
    <h5 class="w3-margin w3-xlarge">Email - vaibhavkapse@gmail.com</h5>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official  w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 <p>Made by Vaibhav Kapse </p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
